.vscode/**
.vscode-test/**
node-modules/**
out/test/**
src/**
test/**
**/*.map
.eslintcache
.eslintignore
.eslintrc.js
.gitignore
.markdownlint.json
.prettierignore
.prettierrc.json
jest.config.js
package-lock.json
tsconfig.json
